:root {
    --page-bg: #F9F1F0;
    --primary-bg: #fadcd9;
    --secondary-bg: #F8AFA6;
    --primary-fg: #e57669;
    --secondary-fg: #F9F1F0;
    --re-state-contrast-color: #81322b;
    --input-bg: #f6ccc6;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.1em;
    background-image: url("./../res/background.gif");
    background-size: 100vw 100vh;
    overflow: hidden;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 25px auto;
    grid-template-areas: 'tries main' 'used used';
}
.tries, .main {
    opacity: 0.8;
}
.used {
    opacity: 0.95;
}
.tries {
    grid-area: tries;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: linear-gradient(0deg, rgba(237,68,68,1) 0%, rgba(246,255,12,1) 50%, rgba(48,217,64,1) 100%);
    border-top-left-radius: 10px;
}
.tries > div {
    height: 0;
    transition: 0.5s;
    background-color: var(--primary-bg);
    border-top-left-radius: 10px;
}
.main {
    height: 270px;
    grid-area: main;
    text-align: center;
    background-color: var(--primary-bg);
    border-top-right-radius: 20px;
}
h2 {
    margin: 20px 0;
    padding: 0 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: var(--primary-fg);
    letter-spacing: 0.085em;
}
.word {
    margin: 10px 0;
    font-size: 26px;
    color: var(--primary-fg);
    font-weight: bold;
    letter-spacing: 0.1em;
}
.guess {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.guess > * {
    margin: 0 20px;
}
input {
    width: 40px;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 7px 10px 5px 22px;
    transition: 0.4s;
    font-size: 28px;
    background-color: var(--input-bg);
    color: var(--primary-fg);
}
main.re-state input {
    width: 0;
    margin: 0;
    padding: 0;
}
.guess > span {
    display: inline-block;
    width: 0;
    margin: 0;
    font-size: 24px;
    overflow: hidden;
    transition: 1s;
    color: var(--re-state-contrast-color);
}
main.re-state .guess > span {
    margin-right: 10px;
    min-width: 200px;
}
button {
    border-radius: 50px;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--secondary-bg);
    color: var(--secondary-fg);
    cursor: pointer;
    transition: 0.2s;
}
button:hover, button.pressed {
    background-color: #f8a295;
    color: white;
    box-shadow: 0 0 18px var(--secondary-bg);
}
main.re-state button {
    color: var(--re-state-contrast-color);
    box-shadow: 0 0 12px var(--re-state-contrast-color);
    font-size: larger;
}
.log {
    margin: 10px 0 20px 0;
    font-size: 24px;
    color: var(--primary-fg);
}
.used {
    grid-area: used;
    padding: 10px 20px;
    font-size: 22px;
    background-color: var(--secondary-bg);
    color: var(--secondary-fg);
    min-height: 30px;
    max-height: max-content;
    width: 460px;
    border-radius: 0 0 20px 10px;
}
.used > p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.used > p > span {
    margin: 0 10px 4px 10px;
    color: var(--secondary-bg);
    transition: 0.25s;
}
.used > p > span.change {
    color: var(--page-bg);
}
.menu {
    background-color: var(--primary-bg);
    position: absolute;
    top: 0;
    right: 10px;
    padding: 10px;
    font-size: 85%;
    text-align: center;
    border-radius: 0 0 15px 15px;
    color: var(--primary-fg);
    transition: 0.4s 0.1s;
    transform: translate(0, -90%);
}
.buttons {
    display: flex;
    justify-content: center;
}
.buttons > * {
    margin: 0 5px 0 5px;
    padding: 5px 10px;
    font-size: 115%;
    font-family: "Nunito", sans-serif;
    letter-spacing: 0.1em;
}
.buttons > button:first-child {
    background-color: #f9aba1;
}
.buttons > button:nth-child(2) {
    background-color: #e9897c;
}
.buttons > button:last-child {
    background-color: #ce5a4b;
}
.menu > p {
    margin: 8px 0 0 0;
    transition: 0.5s;
    animation-duration: 0.5s;
    animation-name: emphasis;
}
.opener {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 98%);
    padding: 0 4px 6px 4px;
    border-radius: 0 0 5px 5px;
    background-color: var(--input-bg);
    fill: var(--primary-fg);
    cursor: pointer;
}
.opener:hover {
    box-shadow: 0 0 18px var(--secondary-bg);
}
.menu:has(.opener:hover), .menu:hover {
    transform: translate(0, 0);
}
.level {
    background-color: var(--secondary-bg);
    color: var(--secondary-fg);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    font-size: 120%;
    font-family: "Nunito", sans-serif;
    padding: 3px 12px;
    border-radius: 5px 5px 0 0;
    letter-spacing: 0.12em;
}

@keyframes emphasis {
    from {
        font-size: 100%;
        font-weight: none;
    }
    50% {
        font-size: 103%;
        font-weight: bold;
    }
    to {
        font-size: 100%;
        font-weight: none;
    }
}